/base/gkioop.f
/data/emf/gks.emf-1.37
/data/emf/gksemf
/data/fonts/create_dbs
/data/fonts/gks.dbs-1.37
/data/fonts/gksdbs
/data/wdts/cdrive.inc
/data/wdts/gks.wdt-1.37
/data/wdts/gkswdt
/data/wdts/gkswdt.dat
/data/wdts/gkswdt.lst
/include/gkmc.par
/include/gkmc.par.F
/sun83.pdf
