/cupid.csh
/cupid.h
/cupid.icl
/cupid.sh
/cupidsub/cupidcfclump.c
/cupidsub/cupidcfscan.c
/cupidsub/cupidfindback1.c
/cupidsub/cupidfindback10.c
/cupidsub/cupidfindback2.c
/cupidsub/cupidfindback3.c
/cupidsub/cupidfindback4.c
/cupidsub/cupidfwpixelsets.c
/cupidsub/cupidfwjoin.c
/cupidsub/cupidfwmain.c
/cupidsub/cupidgcdump.c
/cupidsub/cupidgcfindmax.c
/cupidsub/cupidgcfit.c
/cupidsub/cupidgcprofwidth.c
/cupidsub/cupidgcsetinit.c
/cupidsub/cupidgcupdatearrays.c
/cupidsub/cupidndfclump.c
/cupidsub/cupidrcheckface.c
/cupidsub/cupidrcopyline.c
/cupidsub/cupidrinitedges.c
/cupidsub/cupidrms.c
/cupidsub/cupidsumclumps.c
/history.help
/make_doc
/make_h
/make_history_help
/make_quickdes
/outlineclump.help
/sun255.tex
/sun255.pdf
