#
# This is a sample TkBrowser configuration file.  Change the name
# of this file to ".browser.config" and put it in your home directory,
# in order to use it.
#
set action(Shell) {exec tkterm &}
set action(Forward) JumpForward
set action(Back) JumpBack
set action(Run) ExecuteFile
set action(Print) PrintFile
set action(Edit) EditFile
set action(Delete) DeleteFile
set {application(File Index)} {exec cardcat &}
set {application(System Status)} {exec sysstat &}
set {application(Color Chooser)} {exec color &}
set application(Magnifier) {exec xmag &}
set application(Solitaire) {exec sol &}
set application(Man) {exec tkman &}
set application(Mosaic) {exec Mosaic -home /homes/drh/metaindex.html &}
set application(Shell) {exec tkterm &}
set {application(Font Chooser)} {exec fontchooser &}
set application(Rmt36) {exec rmt36 &}
set application(Seyon) {exec tkterm -shell seyon -noemulator &}
set application(Xv) {exec xv &}
set application(Rmt40) {exec rmt40 &}
set application(Palette) {exec palette &}
set place(/home/drh/et1.4) 1
set place(/home/drh/dspview/dspgraph/src) 1
set place(/home/drh) 1
set place(/home/drh/dspview/dspgraph) 1
