[submodule "thirdparty/rit/match/match"]
	path = thirdparty/rit/match/match
	url = ../match.git
[submodule "thirdparty/kitware/vtk/VTK"]
	path = thirdparty/kitware/vtk/VTK
	url = ../vtk.git
[submodule "thirdparty/kitware/vtk/cmake"]
	path = thirdparty/kitware/vtk/cmake
	url = ../cmake.git
[submodule "thirdparty/fsf/autoconf"]
	path = thirdparty/fsf/autoconf
	url = ../autoconf.git
[submodule "thirdparty/norman/dvi2bitmap/dvi2bitmap"]
	path = thirdparty/norman/dvi2bitmap/dvi2bitmap
	url = ../dvi2bitmap.git
[submodule "thirdparty/fsf/automake"]
	path = thirdparty/fsf/automake
	url = ../automake.git
[submodule "thirdparty/eso/skycat/skycat"]
	path = thirdparty/eso/skycat/skycat
	url = ../skycat.git
[submodule "thirdparty/fsf/libtool"]
	path = thirdparty/fsf/libtool
	url = ../libtool.git
[submodule "thirdparty/perlsys/perl/perl"]
	path = thirdparty/perlsys/perl/perl
	url = ../starperl.git
[submodule "applications/smurf/libacsis/specwrite"]
	path = applications/smurf/libacsis/specwrite
	url = ../acsis-libspecwrite.git
[submodule "thirdparty/heasarc/cfitsio/cfitsio"]
	path = thirdparty/heasarc/cfitsio/cfitsio
	url = ../cfitsio.git
[submodule "thirdparty/mit/fftw/fftw"]
	path = thirdparty/mit/fftw/fftw
	url = ../fftw.git
[submodule "thirdparty/ijg/jpeg/jpeg"]
	path = thirdparty/ijg/jpeg/jpeg
	url = ../jpeg.git
[submodule "thirdparty/latex2html/latex2html/latex2html"]
	path = thirdparty/latex2html/latex2html/latex2html
	url = ../latex2html.git
[submodule "thirdparty/fsf/m4"]
	path = thirdparty/fsf/m4
	url = ../m4.git
[submodule "thirdparty/mesa3d/mesa/mesa"]
	path = thirdparty/mesa3d/mesa/mesa
	url = ../mesa.git
[submodule "thirdparty/tclsys/tcl"]
	path = thirdparty/tclsys/tcl
	url = ../tcl.git
[submodule "thirdparty/tclsys/tclx/tclx"]
	path = thirdparty/tclsys/tclx/tclx
	url = ../tclx.git
[submodule "thirdparty/tclsys/tdom/tdom"]
	path = thirdparty/tclsys/tdom/tdom
	url = ../tdom.git
[submodule "thirdparty/tclsys/tk"]
	path = thirdparty/tclsys/tk
	url = ../tk.git
[submodule "thirdparty/tclsys/tkimg/tkimg"]
	path = thirdparty/tclsys/tkimg/tkimg
	url = ../tkimg.git
[submodule "thirdparty/apache/xerces-c/xerces-c"]
	path = thirdparty/apache/xerces-c/xerces-c
	url = ../xerces.git
[submodule "buildsupport/autobuild"]
	path = buildsupport/autobuild
	url = ../autobuild.git
[submodule "thirdparty/fsf/gsl/gsl"]
	path = thirdparty/fsf/gsl/gsl
	url = ../gsl.git
[submodule "thirdparty/tclsys/itcl/itcl"]
	path = thirdparty/tclsys/itcl/itcl
	url = ../itcl.git
[submodule "thirdparty/tclsys/itcl/itk"]
	path = thirdparty/tclsys/itcl/itk
	url = ../itk.git
[submodule "thirdparty/tclsys/itcl/iwidgets"]
	path = thirdparty/tclsys/itcl/iwidgets
	url = ../iwidgets.git
[submodule "applications/extractor/sextractor"]
	path = applications/extractor/sextractor
	url = ../sextractor.git
[submodule "applications/extractor/extract/src"]
	path = applications/extractor/extract/src
	url = ../starextract.git
[submodule "thirdparty/tclsys/blt/wizeblt"]
	path = thirdparty/tclsys/blt/wizeblt
	url = ../wizeblt.git
