[submodule "thirdparty/rit/match/match"]
	path = thirdparty/rit/match/match
	url = ../match
[submodule "thirdparty/kitware/vtk/VTK"]
	path = thirdparty/kitware/vtk/VTK
	url = ../vtk.git
[submodule "thirdparty/kitware/vtk/cmake"]
	path = thirdparty/kitware/vtk/cmake
	url = ../cmake.git
[submodule "thirdparty/fsf/autoconf"]
	path = thirdparty/fsf/autoconf
	url = ../autoconf.git
[submodule "thirdparty/norman/dvi2bitmap/dvi2bitmap"]
	path = thirdparty/norman/dvi2bitmap/dvi2bitmap
	url = ../dvi2bitmap.git
[submodule "thirdparty/fsf/automake"]
	path = thirdparty/fsf/automake
	url = ../automake.git
[submodule "thirdparty/eso/skycat/skycat"]
	path = thirdparty/eso/skycat/skycat
	url = ../skycat.git
[submodule "thirdparty/tclsys/blt/blt"]
	path = thirdparty/tclsys/blt/blt
	url = ../blt.git
[submodule "thirdparty/fsf/libtool"]
	path = thirdparty/fsf/libtool
	url = ../libtool.git
[submodule "thirdparty/perlsys/perl/perl"]
	path = thirdparty/perlsys/perl/perl
	url = git://perl5.git.perl.org/perl.git
[submodule "applications/smurf/libacsis/specwrite"]
	path = applications/smurf/libacsis/specwrite
	url = ../acsis-libspecwrite.git
[submodule "thirdparty/heasarc/cfitsio/cfitsio"]
	path = thirdparty/heasarc/cfitsio/cfitsio
	url = ../cfitsio.git
[submodule "thirdparty/mit/fftw/fftw"]
	path = thirdparty/mit/fftw/fftw
	url = ../fftw.git
[submodule "thirdparty/ijg/jpeg/jpeg"]
	path = thirdparty/ijg/jpeg/jpeg
	url = ../jpeg.git
[submodule "thirdparty/latex2html/latex2html/latex2html"]
	path = thirdparty/latex2html/latex2html/latex2html
	url = ../latex2html.git
[submodule "thirdparty/fsf/m4"]
	path = thirdparty/fsf/m4
	url = ../m4.git
