
# Global ignore file for the Starlink repository. If a file is under revision control
# it will be tracked regardless of this ignore file.
# If a directory has non-standard ignore requirements a per-directory .gitignore file can
# be used.

# Generic file extensions to ignore

*~
*.o
*.a
*.aux
*.bck
*.bs
*.cache
*.dvi
*.hlp
*.html
*.htx
*.htx_tar
*.ifc
*.ifd
*.ifl
*.la
*.lo
*.lof
*.lot
*.loT
*.log
*.bbl
*.blg
*.m4
*.now
*.pro
*.ps
*.pyc
*.s
*.sdf
*.shl
*.tar.gz
*.tmp
*.toc
*_mon
core.*
lib*.so
*.class
\#*\#
.\#*
.dirstamp

# Autoconf/automake build dirs

.deps
.libs
compile
confdefs.h
config.guess
config.cache
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
configure-output.log
configure-output.log.err
conftest.*
configure.in
depcomp
install-sh
install.log
libtool
libtoolize
ltmain.sh
make.config
make.log
make.log.err
Makefile
Makefile.in
missing
stamp-h1
stamp-h2
test-driver
ylwrap
*-stamp
*.trs

# Perl

pm_to_blib
blib
Makefile.old
const-*.inc

# Mac specific

._*
lib*.dylib
*.dSYM

# Starconf and Starlink build and configure

componentinfo.dtd
componentset-extrainfo.xml
dtask_applic.f
dtask_libtool
fac_*_err
*_err.h
*_ERR
gks74.ps*
starconf.*
starconf-status
starlink.version
STAR_SUPPRESS_BUILD
tclIndex
version.dat
world-stamp

# LaTeX

*.texml/
*.texml_tar
*-eps-converted-to.pdf
*.idx

# TeX4HT
*.4ct
*.4tc
*.brf
*.css
*.idv
*.lg
*.xref
sun*.out
sc*.out
ssn*.out
sgp*.out
docs/sc/022/sc22.synctex.gz
