
# Global ignore file for the Starlink repository. If a file is under revision control
# it will be tracked regardless of this ignore file.
# If a directory has non-standard ignore requirements a per-directory .gitignore file can
# be used.

# Generic file extensions to ignore

*~
*.o
*.a
*.aux
*.bck
*.bs
*.cache
*.dvi
*.hlp
*.html
*.htx
*.htx_tar
*.ifc
*.ifd
*.ifl
*.la
*.lis
*.lo
*.loT
*.log
*.m4
*.now
*.pro
*.ps
*.sdf
*.shl
*.tar.gz
*.tmp
*.toc
*_mon
core.*
lib*.so
*.class

# Autoconf/automake build dirs

.deps
.libs
config.guess
config.cache
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest.*
configure.in
install-sh
install.log
make.log
make.log.err
Makefile.in
missing
libtool
stamp-h1
stamp-h2
depcomp
ltmain.sh
compile
Makefile
ylwrap

# Mac specific

._*
lib*.dylib
a.out.dSYM

# Starconf and Starlink build

component.xml
componentinfo.dtd
dtask_applic.f
dtask_libtool
fac_*_err
*_err.h
*_ERR
gks74.ps*
starconf.*
starconf-status
starlink.version
STAR_SUPPRESS_BUILD

# These are non-standard ignores. They could go in subdirs but for now put them in global

applications/astrom/params.f
applications/atools/make_history_help
applications/ccdpack/CCD1_PAR
applications/ccdpack/gen/dgeneric
applications/cupid/make_doc
applications/cupid/make_h
applications/cupid/make_history_help
applications/cupid/make_quickdes
applications/daophot/daophot.csh
applications/datacube/datacube.csh
applications/datacube/datacube.icl
applications/datacube/datacube.sh
applications/dipso/dipso_link
applications/dipso/my_dipso
applications/extractor/extractor.icl
applications/extractor/sextractor/man/sex.1
applications/extractor/sextractor/sextractor-tpx.spec
applications/extractor/sextractor/sextractor.spec
applications/extreme/EXT_DEC
applications/extreme/EXT_PAR
applications/extreme/cmp-xxx
applications/extreme/extmakefile
applications/extreme/extmk
applications/extreme/extreme.csh
applications/extreme/extreme.h
applications/extreme/mkdoc
applications/figaro/figaro.csh
applications/figaro/figaro.icl
applications/figaro/figaro.sh
applications/ifd/ifd2iraf
applications/ifd/ifd2irafifl
applications/ifd/ifd2star
applications/ifd/ifd_irafhlpgen
applications/ifd/ifl2ifd
applications/kappa/kappa_link_adam
applications/kappa/kappa_mon.f
applications/kappa/kapview_mon.f
applications/kappa/lutedit.tcl
applications/kappa/ndfpack_mon.f
applications/kappa/sort-help.pl
applications/kappa/stardemo.tcl
applications/kaprh/kaprh_mon.f
applications/news/news
applications/news/news2html
applications/news/newsmaint
applications/pisa/pisa.icl
applications/pisa/start
applications/polpack/Polka.tcl
applications/polpack/polpack_link_adam
applications/polpack/polpack_mon.f
applications/polpack/polsub/pol1_ptvrc.f
applications/polpack/polsub/pol1_ptvrs.f
applications/scb/scb_test.sh
applications/scb/size_test.sh
applications/sgmlkit/bin/sgml2docs.x
applications/sgmlkit/bin/sgml2hlp.x
applications/sgmlkit/dsssl/sl/common/slparams.dsl
applications/sgmlkit/lib/img-eqlist.pl
applications/smurf/libsmf/make_h
applications/specx/getaline/getaline_link
applications/specx/misc/specx_welcome.txt
applications/specx/src/TITLE
applications/star2html/xlabel
applications/starx/starX_link
applications/surf/surf_set_app_name.f
buildsupport/starconf/bootstrap.installed
buildsupport/starconf/starconf
buildsupport/starconf/starconf-deinstall
buildsupport/starconf/starconf-finder
buildsupport/starconf/starconf-validate
libraries/ast/ast_cpp
libraries/ast/ast_link
libraries/ast/f77.h
libraries/ast/object.h
libraries/cnf/f77.h
libraries/ems/ems_fioer.c
libraries/ems/ems_link
libraries/ems/ems_link_adam
libraries/fio/fio1_serr.f
libraries/gks/base/gkioop.f
libraries/gks/include/gkmc.par.F
libraries/jpl/runtesteph
libraries/pcs/sock/sock_link
libraries/pcs/sock/sock_link_adam
libraries/pcs/subpar/subpar_link_adam
libraries/prm/num_han.c
libraries/sla/f77.h
libraries/sla/gresid.F
libraries/sla/random.F
libraries/sla/veri.f
libraries/sla/vers.f
libraries/sla/wait.f
libraries/starmem/mem.h

