/* css.sty */
/* Set up css for the spans:*/
.sc{font-variant: small-caps;}
.sf{font-family: "Verdana"; font-size:85%;}
small{font-size: .8em;}
.tt{font-family: "Droid Sans Mono",monospace; white-space: normal;
     font-size: 85%;line-space:85%}
.terminalv,.verb,.verbatim,.fancyvrb{font-family: "Droid Sans Mono",monospace; white-space: nowrap;
    color: #191970; font-size: 85%; line-space:85%}
pr {font-family: "Droid Sans Mono",monospace; white-space: pre;
    color: #191970; font-size: 85%; line-space:85%}
.task{font-family: "Verdana";font-size: 85%;}

/*Css for various things.*/
.pushright{float:right; }
/*.titlesection{font-size: 100%; line-height: 120%; width:100%}*/
span.sctitleformat{font-size: 200%;line-height:100%;text-align:center;display: block;}

/*General css for regular body:*/
body{margin-top: 2em; margin-bottom: 1em; max-width: 45em;
    margin-left: auto; margin-right: auto; padding: 3em;
    color: #444;
    font-family: serif;
    font-style: normal;
    font-size: 1em; line-height: 130%;
    border: 1px solid #fefeef; }

/*Turn off indenting of text.*/
p.indent{ text-indent: 0em }



/*CSS font face option*/
@font-face{font-family: "Droid Sans Mono";}

/*Font for .figure*/
.figure{font-family: "Verdana",sans-serif; font-size: 80%;}

/*Fonts for section headings.*/
.sectionHead, .likesectionHead, .subsectionHead,.likesubsectionHead, .sstattributeHead {font-family:"Georgia", serif; font-weight:bold; font-size:110%;}

/*Fonts for some headings and table fo contents entries.*/
strong, b, .partToc a, .partToc, .likepartToc a, .likepartToc,
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc,
.appendixToc a, .appendixToc, .addchapToc, 
.paragraphHead, .likeparagraphHead,
.subparagraphHead, .likesubparagraphHead,
.caption td.id, .ecbx-0700{font-family: "EB Garamond Bold", serif;}

/*Fonts for small caps stuff.*/
.booksubtitle, .dvday, .sectionHead, .likesectionHead,
.dvquote-ref, .dvbox .lettrine-line{font-family: "EB Garamond SC",
  serif;}

/*Background colour for sectionHeas (blue)*/
.likesectionHead,
  .sectionHead{background-color:#ACCFE6;padding:0.5;}

/*Fonts for chapter and appendix head*/
.appendixHead,.chapterHead{line-height:140%;}

/*Minipage??? This will be problematic...*/
.minipage{width:50%;}

/*Font for tipbox and starlinktextbox (blue background)*/
.sltextbox,.tipbox{width:80%; background-color:#ACCFE6; border-color:#ACCFE6; padding:1%; margin:0 auto; border-style:solid; border-width:thick; border-radius:15px}

span.tbtitle + div.tipbox-text{ margin-top:10px}

.tbtitle{display:block;font-weight:bold;background-color:#ACCFE6;border-color:#ACCFE6}

.tipboxtext{background-color:#ACCFE6; width:99%; display:block}

/*framed page*/
.fmpage{border: 1px solid black}

/*Hide the rules around figures and floats*/
hr.figure, hr.endfigure, hr.float, hr.endfloat {display:none;}

/*Css various for images and captions*/
img, img.graphics{max-width:100%;display:inline;
	margin-left:auto;margin-right:auto;}
.figure img.graphics{margin-left:auto; margin-right:auto;}
div.float{margin-left:auto;margin-right:auto;margin-top:3em;margin-bottom:3em;display:block;}
div.figure{margin-left:auto;margin-right:auto;margin-top:3em;margin-bottom:3em;display:block}
div.caption{display:block;caption-side:bottom;max-width:100%}

dd.enumerate-enumitem{padding-left:0.5em;}
dt.enumerate-enumitem{float:left;clear:left;margin-left:1em;margin-right:0em}

/*Css for enumerated description list.*/
.edlong{
    counter-reset: edlong-counter;}

.edlong dt {
    position: relative; font-weight: bold; font-size: 100%;
    left: 2.5%; right: 2.5%}

.edlong dt:before{
    content: "(" counter(edlong-counter) ")";
    counter-increment: edlong-counter;
    font-weight: bold;
    font-size: 100%;
    padding-left:2.5%;
    padding-right:1em;
  }

.edlong dt, .edlong dd{
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

/*Css for starlink description list */
.sldes dl {width: 100%;display:block}

.sldes dt {
  float:left;
  clear: left;
  width: 15%;
  %background-color:#0ff;
}

.sldes dd {%
    float: left;
    width:85%;
    display:block;
    %background-color:orange;
    margin-left:0%;
    margin-bottom: 2em;}

.sldes dd p:first-child{
    %background-color:yellow;
    margin-top:0%;
}


div.footnotes{margin-right:0px;}
/*div.footnotes{border-top:solid 1px black; border-bottom:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-top:2ex; font-style:italic; font-size:85%;margin-right:0px}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0}*/
div.footnotes span.footnote-mark{padding-right:5px; padding-left:2px;}

/*Css to align div.centers in center*/
div.center div{text-align: center;}


\EndCss