/par_def0.f
/par_def1.f
/par_defn.f
/par_exac.f
/par_gdr0.f
/par_gdr1.f
/par_gdrv.f
/par_get0.f
/par_get1.f
/par_getn.f
/par_getv.f
/par_grm1.f
/par_grmv.f
/par_max.f
/par_min.f
/par_mix0.f
/par_mixv.f
/par_put0.f
/par_put1.f
/par_putn.f
/par_putv.f
/par_test
/sun114.pdf
