/ndf1_adex.f
/ndf1_adix.f
/ndf1_avex.f
/ndf1_awex.f
/ndf1_awix.f
/ndf1_bppx.f
/ndf1_cvtx.f
/ndf1_qmax.f
/ndf1_s2vx.f
/ndf1_v2sx.f
/ndf_gtszx.f
/ndf_ptszx.f
/ndf_xgt0x.f
/ndf_xpt0x.f
/ndf_cnulltest
/ndf_ctest
/ndf_ftest
/ssn20.pdf
/sun33.pdf
