/kappa.csh
/kappa.icl
/kappa.news
/kappa.sh
/kappa_link_adam
/kappa_mon.f
/kapsub/kps1_alig1.f
/kapsub/kps1_apad.f
/kapsub/kps1_ardm.f
/kapsub/kps1_bafi.f
/kapsub/kps1_bafn.f
/kapsub/kps1_bfre.f
/kapsub/kps1_cena.f
/kapsub/kps1_cff2.f
/kapsub/kps1_clns.f
/kapsub/kps1_clps.f
/kapsub/kps1_cnse.f
/kapsub/kps1_cpb.f
/kapsub/kps1_cpwd.f
/kapsub/kps1_dscl.f
/kapsub/kps1_exb.f
/kapsub/kps1_fain.f
/kapsub/kps1_fofo.f
/kapsub/kps1_fohe.f
/kapsub/kps1_fopp.f
/kapsub/kps1_fopr.f
/kapsub/kps1_foqu.f
/kapsub/kps1_fore.f
/kapsub/kps1_fori.f
/kapsub/kps1_heqp.f
/kapsub/kps1_hsmo.f
/kapsub/kps1_inle.f
/kapsub/kps1_inli.f
/kapsub/kps1_inls.f
/kapsub/kps1_lapl.f
/kapsub/kps1_lft.f
/kapsub/kps1_lftq.f
/kapsub/kps1_lfts.f
/kapsub/kps1_mdrf.f
/kapsub/kps1_mdrp.f
/kapsub/kps1_mdwt.f
/kapsub/kps1_med.f
/kapsub/kps1_mfad.f
/kapsub/kps1_mfeb.f
/kapsub/kps1_mfed.f
/kapsub/kps1_mffr.f
/kapsub/kps1_mfld.f
/kapsub/kps1_mfno.f
/kapsub/kps1_mfrm.f
/kapsub/kps1_mft.f
/kapsub/kps1_mftq.f
/kapsub/kps1_mfts.f
/kapsub/kps1_mmv.f
/kapsub/kps1_msag.f
/kapsub/kps1_msgr.f
/kapsub/kps1_mspa.f
/kapsub/kps1_mssa.f
/kapsub/kps1_nom1.f
/kapsub/kps1_oea.f
/kapsub/kps1_pgft.f
/kapsub/kps1_plcp.f
/kapsub/kps1_plrs.f
/kapsub/kps1_prmx.f
/kapsub/kps1_put.f
/kapsub/kps1_robl.f
/kapsub/kps1_roli.f
/kapsub/kps1_ronn.f
/kapsub/kps1_rora.f
/kapsub/kps1_rorb.f
/kapsub/kps1_rprf.f
/kapsub/kps1_rs1.f
/kapsub/kps1_slae.f
/kapsub/kps1_spar.f
/kapsub/kps1_stpa.f
/kapsub/kps1_subi.f
/kapsub/kps1_sucl.f
/kapsub/kps1_susk.f
/kapsub/kps1_thgt.f
/kapsub/kps1_trdr.f
/kapsub/kps1_trnd.f
/kapsub/kps1_trnv.f
/kapsub/kps1_xyzw.f
/kapsub/kps1_zprg.f
/libkappa/kapmon.hlp.1
/libkappa/kapmon.hlp.2
/libndfpack/ndfpack.hlp.1
/libndfpack/ndfpack.hlp.2
/kapview_mon.f
/lutedit.tcl
/multiplot.csh
/ndfpack_mon.f
/sort-help.pl
/sun95.pdf
/stardemo.tcl
