[% WRAPPER page.tt %]
  <h2>Module groups</h2>

  [% IF groups.size > 0 %]
    [% FOREACH groups %]
      [% IF modules.size > 0 %]
        <h3>[% label %]</h3>
 
        <table class="modules">
          [% FOREACH modules %]
            <tr>
              <th><a href="module-[% name %].html">[% label %]</a></th>
              <td class="[% status %]">[% status %]</td>
            </tr>
          [% END %]
        </table>
      [% END %]
    [% END %]
  [% ELSE %]
    <p>There are no module groups defined</p>
  [% END %]
[% END %]
