[% WRAPPER page.tt %]
  <h2>ISO Images</h2>

  [% IF isos.size > 0 %]
    <table id="isos">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Size</th>
          <th>MD5 Sum</th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH isos %]
          <tr>
            <td class="filename"><a href="isos/[% filename %]">[% label %]</a></td>
            <td class="size">[% size %]</td>
            <td class="md5sum">[% md5sum %]</td>
          </tr>
        [% END %]
      </tbody>
    </table>
  [% ELSE %]
    <p>There are no ISO images defined</p>
  [% END %]
[% END %]
