/compifl
/dtask/alink
/dtask/alink.in
/dtask/ilink
/dtask/ilink.in
/parsecon/SUBPAR_CMN
/sock/sock_link
/sock/sock_link_adam
/subpar/subpar_link_adam
/subpar/sup_def0x.f
/subpar/sup_defnx.f
/subpar/sup_get1x.f
/subpar/sup_getnx.f
/subpar/sup_getvx.f
/subpar/sup_maxx.f
/subpar/sup_minx.f
/subpar/sup_put1x.f
/subpar/sup_putnx.f
/subpar/sup_putvx.f
/task/tsk_dec1x.f
/task/tsk_decnx.f
/task/tsk_enc0x.f
/task/tsk_enc1x.f
/task/tsk_encnx.f
/task/tsk_val0x.f
/task/tsk_val1x.f
/task/tsk_valnx.f
/ams/amsmaster
/ams/amsmastertest
/ams/amsslave
