files ADI_FILES ascii.adi database.adi detcnfg.adi dsmodels.adi \
		eresp.adi filesys.adi fits.adi hds.adi history.adi \
		select.adi test.adi time.adi wcs.adi fitting.adi psf.adi

files RES_DEF DOT_ASTERIX_DEF

files RES_DATA DOT_ASTERIX_RC

files BITMAPS asterix.bitmap

files CAL_FILES mcf_12.sdf

files ETC_MISC banner.txt

files ETC_FILES :ADI_FILES: :RES_DEF: :RES_DATA: :ETC_MISC: :BITMAPS: \
	:CAL_FILES:
