/defaults/params.tex
/defaults/make_pardocs
/libsmf/make_h
/libsmf/smf.h
/libsmf/smf_average_data.c
/libsmf/smf_boxcar1.c
/libsmf/smf_downsamp1.c
/libsmf/smf_get_global0.c
/libsmf/smf_put_global0.c
/libsmf/smf_sigmaclip.c
/libsmf/smf_sort.c
/libsmf/smf_stats1.c
/libsmf/smf_templateFit1.c
/libsmf/smf_tophat1.c
/libsmf/smf_weightstats1.c
/libsmurf/smurfmon.tex
/scripts/starutil.py
/smurf.csh
/smurf.icl
/smurf.sh
