/cmp-crepint
/cmp-frepint
/cmp-inscnf
/cmp-xxx
/cmp-xxx.tex
/crepint
/crepint.tex
/ctok.c
/do-crepint
/do-frepint
/do-inscnf
/do-xxx.tex
/EXT_DEC
/EXT_PAR
/extmk
/extreme.csh
/extreme.h
/extmakefile
/extmakefile.tex
/extmk.tex
/frepint
/frepint.tex
/ftok.c
/inscnf
/inscnf.tex
/mkdoc
/ssn73.tex
/tmp
/ssn73.pdf
