files DOC_FILES  user_004.tex \
	user_005.tex user_005_angvig.ps_tex user_005_cover.ps_tex \
	user_005_envig.ps_tex user_005_examples.tex user_005_files.tex \
	user_005_hriqeff.ps_tex user_005_imhri.ps_tex \
	user_005_impspc.ps_tex user_005_phven.ps_tex \
	user_005_srcblk.ps_tex user_005_trace.tex user_005_xrtplan.tex \
	user_006.tex README
