files F_INCLUDES ADI_ERR ADI_PAR AIO_PAR AST_PKG AST_SYS_PAR FIT_PAR FIT_STRUC \
	INC_XRTHEAD MATH_PAR PSF_PAR QUAL_PAR \
	USER_ERR WCI_PAR HSI_PAR

files C_INCLUDES adi.h adi_err.h adiarray.h adicface.h adiconv.h \
	adierror.h adiexpr.h adifface.h adifsys.h adifuncs.h adikrnl.h \
	adilist.h adimem.h adiparse.h adipkg.h adistrng.h adisyms.h \
	aditable.h aditypes.h aio.h asterix.h fit_par.h
