files CONFIGS appgrp.base_config etc.base_config global.base_config \
	inc.base_config lib.base_config master.base_config module.base_config \
	scripts.base_config tools.base_config docs.base_config

files PROLOGUES aif.pro aifinc.pro block.pro func.pro mod_csh_init.pro \
	mon.pro package.pro pkg_cmn.pro pkg_init.pro pkgisub.pro \
	pkgmthsub.pro pkgsub.pro pro.idx sub.pro task.pro tasksub.pro \
	tcl.pro sh.pro sub.pro.c sub.pro.f fcsub.pro.c

files MAKE_INCLUDES build_targets.minc header.minc \
        install_dirs.minc macro_defaults.minc \
	dirs.minc f_inc_idx.minc primary_targets.minc help.minc
	
files MAKE_TEMPLATES etc.make module.make scripts.make tools.make \
	lib.make appgrp.make inc.make master.make docs.make

files ETC_FILES :PROLOGUES: :MAKE_TEMPLATES: :MAKE_INCLUDES: :CONFIGS:
